.contact-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    margin-top: 50px;
    padding: 0px 10px;

}




.contact-div {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 85px;
    margin: 10px 0px;
}

.contact-info-sub {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

.contact-icon {
    background-color: #f2f3f7;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-p3 {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.66);

}












.contact-form {
    display: flex;
    flex-direction: column;

    /* background-color: rgb(46, 198, 198); */
    padding: 20px 0px;
    width: 45%;
    gap: 45px;


}

.contact-input {
    height: 45px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    color: #555555;
    background-color: #f2f3f7;
    border: none;

}

.contact-input-text {
    height: 100px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    color: #555555;
    background-color: #f2f3f7;
    border: none;
}

.contact-btn-div {
    display: flex;
    justify-content: left;

}

.contact-btn {
    padding: 10px 20px;
    background: #2c98f0;
    color: #fff;
    border: 2px solid #2c98f0;
}


@media (max-width:1400px) {
    .contact-container {
        width: 100vw;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 20px auto auto auto;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        margin: auto auto;
        /* background-color: rgb(46, 198, 198); */
        padding: 20px 0px;
        width: 80%;
        gap: 10px;


    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;

    }



    .contact-info-sub {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 50px;
    }

    .contact-icon {
        background-color: #f2f3f7;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-p3 {
        font-family: "Quicksand", Arial, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.66);

    }


}