.about-page-container {
    /* padding-right: 20px; */
}

.about-p {


    animation: left-right 2s forwards;
}

.about-p1 {
    animation: left-right 2s forwards;
}

.about-p2 {
    animation: left-right 2s forwards;
}

.about-p3 {
    animation: left-right 2s ease;
}

@keyframes left-right {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.about-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

@media (max-width:1400px) {}