.work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-p1 {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

.work-p2 {
    font-size: 18px;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    font-family: "Playfair Display", Georgia, serif;
}

.img1 {
    background-image: url('./../assets/travel.png');
    background-size: cover;
}

.img2 {
    background-image: url('./../assets/inventory.png');
    background-size: cover;
}

.img3 {
    background-image: url('./../assets/iot.png');
    background-size: cover;
}

.img4 {
    background-image: url('./../assets/pos.png');
    background-size: cover;
}