.edu-page-container {
    /* width: 83vw; */
    width: 100%;
}



.edu-panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width : 1400px) {
    .edu-page-container {
        width: 98vw;

    }


}