/* .element {
  margin: auto auto;
} */

.App {
  display: flex;
  justify-content: left;

}

.Sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f2f3f7;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  z-index: 4;
}

.sidebar-img {
  width: 100px;
  border-radius: 100px;
}

.sidebar-name {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;


}

.occupation-p {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}


.link {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: color 0.3s ease;
  font-size: 12px;
}

/* Underline effect for both hover and active */
.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #2c98f0;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

/* Hover: underline grows from center */
.link:hover:after {
  width: 100%;
  left: 0;
}

/* Active class: same underline animation as hover */
.active:after {
  width: 100%;
  /* Full underline width */
  left: 0;
  /* Align it from the left */
}

/* Optional: Change text color when active */
.active {
  color: #2c98f0;

  transition: color 0.3s ease;
  /* Smooth text color change */
}





.Body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 250px;
  padding: 0px 25px;
}

.App {
  display: flex;
}


.page-container {
  margin: 20px auto;
  padding: 0px 10px;
}


.bottom-text {
  position: fixed;
  bottom: -15px;
  text-align: center;
  color: #525252;
  font-weight: 500;
  letter-spacing: 2px;
  width: 100%;
  background-color: #f2f3f7;
  padding: 2px 0px;
  font-size: 16px;
}




.header-p1 {
  margin-bottom: 15px;

  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Quicksand", Arial, sans-serif;
}

.header-p2 {
  font-size: 18px;
  /* margin-bottom: 4em; */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  color: #000;
  font-family: "Playfair Display", Georgia, serif;
}

.body-p1 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  text-align: justify;
}


/* sidebar small */

.sidemenu-icon {
  width: 20px;
}

.sidebar_btn-show {
  position: fixed;
  top: 20px;
  left: 165px;
  z-index: 5;
  transition: 1s;
  background-color: transparent;
  border: none;

}

.sidebar_btn-hide {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
  transition: 0.8s;
  background-color: transparent;
  border: none;

}

.Sidebar_ {
  width: 200px;
  height: 100vh;
  background-color: #f2f3f7;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  z-index: 4;
  transform: translateX(-270px);
  transition: 1s;
}

.show {
  transform: translateX(-0px);
}

.hide {
  transform: translateX(270);
}

.sidebar-img_ {
  width: 80px;
  border-radius: 100px;
}

.sidebar-name_ {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;


}

.occupation-p_ {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  width: 70%;
  text-align: center;
}


.link_ {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: color 0.3s ease;
  font-size: 10px;
}

/* Underline effect for both hover and active */
.link_:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #2c98f0;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

/* Hover: underline grows from center */
.link_:hover:after {
  width: 100%;
  left: 0;
}

/* Active class: same underline animation as hover */
.active_:after {
  width: 100%;
  /* Full underline width */
  left: 0;
  /* Align it from the left */
}

/* Optional: Change text color when active */
.active_ {
  color: #2c98f0;

  transition: color 0.3s ease;
  /* Smooth text color change */
}





/* Custom breakpoint example */
@media (max-width: 1400px) {
  .App {
    width: 100vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */

  }




  .Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0px auto;

    /* margin-left: 0px;
    padding: 0px 0px; */


  }

  .header-p1 {
    margin-bottom: 12px;

    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: "Quicksand", Arial, sans-serif;
  }

  .header-p2 {
    font-size: 15px;
    /* margin-bottom: 4em; */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    color: #000;
    font-family: "Playfair Display", Georgia, serif;
  }

  .body-p1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
  }

  .bottom-text {
    position: fixed;
    bottom: -15px;
    text-align: center;
    color: #525252;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
    background-color: #f2f3f7;
    padding: 2px 0px;
    font-size: 12px;
  }
}